<!DOCTYPE html>
<html>
<head>
  <title>Trivia Game - Landing Page</title>
  <link rel="stylesheet" type="text/css" href="landingpage.css">
</head>
<body>
  <header>
    <h1>Welcome to the Trivia Game!</h1>
    <img src="#" alt="word Whiz Logo">
    <p>Test your knowledge and have fun with our exciting trivia game.</p>
  </header>

  <section>
      <h1>About the Game</h1>
      
      <p>Welcome word whiz, the ultimate test of your knowledge! Are you ready to challenge yourself and have fun at the same time? Then you're in the right place!</p>
      
      <p>Our trivia game is designed to entertain and educate players of all ages. Whether you're a history buff, a sports enthusiast, a movie fanatic, or just someone who loves random facts, we've got a wide variety of categories to satisfy your curiosity.</p>
      
      <p>How to Play:</p>
      
      <ol>
        <li>Answer each question within the time limit.</li>
        <li>Earn points for correct answers and compete for high scores.</li>
        <li>Challenge your friends and see who knows the most!</li>
      </ol>
      
      <p>Remember, the more questions you answer correctly, the higher your score will be. So, sharpen your mind, trust your instincts, and let the trivia adventure begin!</p>
      
      <p>Get ready to test your knowledge and have a great time playing Trivia Game!</p> 
  </section>

  <section>
    <h2>Gameplay Preview</h2>
    <img src="screenshot1.jpg" alt="Trivia Game Screenshot 1">
    <img src="screenshot2.jpg" alt="Trivia Game Screenshot 2">
  </section>

  <section>
    <h2>How to Play</h2>
    <p>Answer each multiple-choice question within the given time limit. Earn points for correct answers and see how high you can score. The game consists of multiple levels with increasing difficulty.</p>
    <p>Check out our leaderboard to see where you stand among other players!</p>
  </section>

  <section>
    <h2>Are you ready to play?</h2>
    <p>Test your knowledge now and challenge yourself with our trivia questions.</p>
    <a href="login.html" class="cta-button">Play Now</a>
  </section>

 
</body>
</html>
