<!DOCTYPE html>
<html>
<head>
    <title>Word Whiz</title>
     <link rel="stylesheet" type="text/css" href="style.css">  
    </head>

    <header>
        <h2 class="logo">Word Whiz</h2>
            <nav class="navigation">
                <button class="btnlogin-popup">
                    <a href="login.html">Login</a>
                </button>
            </nav>    
    </header>
    
    <main>
        <P>Welcome to Word Whiz</P>
        <button>
            <a href="login.html">Play Now</a>
        </button>
    </main>
</body>
</html>
