body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
  
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
    color: #333;
}
  
#question-container {
    margin-top: 20px;
}
  
#question-text {
  color: #333;
}
  
#options-list {
    list-style-type: none;
    padding: 0;
}
  
.option {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}
  
#score-container {
    margin-top: 20px;
}
  
#score {
    font-weight: bold;
}
  