*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: url(img/bckg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
main{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main p{
    width: 700px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    background-color: #011b08;
    color: rgb(96, 216, 150);
    border-radius: 20px;
}
main button{
    width: 250px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 30px;
    background: linear-gradient(#01220e,#a5f0be);
    cursor: pointer;
}
main button:hover{
    transform: translateY(5px);
    transition: 0.2s;
}
.logo{
    font-size: 2em;
    color: #7ceba6;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #f4f4f4;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #f4f4f4;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}


.navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #f4f4f4;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #f4f4f4;
    font-weight: 500;
    margin-left: 40px;
    transition: -5s;
}
.navigation .btnlogin-popup:hover{
    background: #f4f4f4;
    color: #f0faf0;
}